*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.primeiroTitulo{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
}

.container1{
    display: inline-block;
    height: 70%;
    width: 20.3%;
    background-color: white;
    border: 3px solid lightgreen;
    justify-content: center;
    margin: 10% -2% 5% 5%;
    border-radius: 15px;
}

.Informacao{
    background-color: darkgray;
    height: 35em;
}

@media screen and (max-width: 430px) {
    .primeiroTitulo{
        font-size: 25px;
        margin-top: 5em;
    }
    .container1{
        margin: 7em 10% 5% 11%;
        width: -webkit-fill-available;
    }

    .imagem3{
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 1030px) {
    .Logo2{
        font-size: 4em;
        margin-top: 1em;
        width: 8em;
    }
}