*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgreen;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.botaoMenu,
.Logo{
  margin: 1%;
  cursor: pointer;
  border: none;
  background-color: lightgreen;
}

.botaoCarrinho{
  background-color: transparent;
  border: none;
  padding-right: 1%;
  display: flex;
  margin: 1%;
}

.quantidadeCarrinho{
  font-size: 20px;
}

.linkLogo{
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: black;
}

.cabecalho p{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.navBar{
  overflow: hidden;
  position: relative;
}

.meusLinks{
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  display: grid;
  cursor: pointer;
  text-decoration: none;
}

.atalhos{
  padding: 5%;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.carrosel-item {
  position: relative;
  text-align: center; 
}

.carrosel-item h1 {
  position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.imagem1{
  width: 100%;
  height: 55em;
  object-fit: cover;
  object-position: 0 25%;
}

.imagem2{
  width: 100%;
  height: 55em;
  object-fit: cover;
  object-position: 0 60%;
}

.primeiroTitulo{
  margin-top: 5%;
}

.secao2{
  background-color: darkgrey;
}

.titulo2{
  text-align: center;
  margin-top: 2%;
}

.containers{
  display: inline-grid;
  height: 70%;
  width: 20.3%;
  background-color: white;
  border: 5px solid lightgreen;
  justify-content: center;
  align-items: center;
  margin: 5% 6% 5% 7%;
  border-radius: 15px;
}

.imagem3{
  width: 90%;
  margin: 5%;
}

.tituloProduto,
.descricaoProduto,
.precoProduto{
  text-align: center;
}

.adicionarCarrinho{
  padding: 2%;
  border-radius: 6%;
  border: 2px solid lightgreen;
  background-color: lightgreen;
}

.botaoPrincipal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoMais{
  background-color: transparent;
  border-color: white;
  color: black;
  box-shadow: 0 0 40px 40px transparent inset, 0 0 0 0 transparent;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding: 20px;
  border-radius: 15px;
  border: 3px solid lightgreen;
  width: 14%;
  font-size: 20px;
  margin-top: 4%;
}

.acessoPromocoes{
  color: black;
  text-decoration: none;
}

.botaoMais:hover{
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}

.rodape{
  margin-top: 2%;
}

.Informacao{
  background-color: darkgray;
  height: 25em;
}

.titulo3{
  padding: 4%;
  position: absolute;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.endereco{
  padding: 7% 0% 2% 4%;
  position: absolute;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.Logo2{
  font-size: 8em;
  font-family: 'Pacifico', cursive;
  float: right;
  color: lightgreen;
  padding: 5%;
}

@media screen and (max-width: 430px) {
  .containers{
    margin: 7em 13% 5% 11%;
    width: -webkit-fill-available;
  }
  .imagem3{
    width: 90%;
  }
  .botaoMais{
    width: auto;
    margin: 5em 0% 5em 0% ;
  }
}

@media screen and (max-width: 1030px) {
  .Logo2{
      font-size: 4em;
      margin-top: 1em;
      width: 8em;
  }
}
