*{
   padding: 0;
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
}

.Mapa{
   width: -webkit-fill-available;
   height: 25em;
   background-color: darkgray;
   border-radius: 15px;
}

.mapaEFormulario{
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
}

.tituloEMapa{
   margin: 10% 5% 5% 5%;
   border: 5px solid lightgreen;
   border-radius: 15px;
   padding: 7% 7% 7% 7%;
}

.titulo1{
   text-align: center;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   margin-top: 4%;
}

.Linha{
   color: lightgreen;
   padding: 5%;
}

.titulo2{
   text-align: center;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   margin-bottom: 5%;
}

.formulario{
   margin: 10% 5% 5% 5%;
   border: 5px solid lightgreen;
   border-radius: 15px;
   width: 40%;
   padding: 5%;
}

.secaoNome,
.secaoEmail,
.secaoTexto{
   display: flex;
   flex-direction: row;
   padding: 10px;
   margin: 5%;
   width: 90%;
}

.inserindoNome,
.inserindoEmail{
   width: 35em;
   height: 30px;
   border-radius: 5px;
   border: 2px solid white;
   background-color: transparent;
}

.inserindoTexto{
   width: 36em;
   height: 10em;
   border-radius: 5px;
   border: 2px solid white;
   background-color: transparent;
}

.inserindoNome::placeholder,
.inserindoEmail::placeholder,
.inserindoTexto::placeholder{
   color: black;
}

.botaoEnviar{
   background-color: transparent;
   border-color: white;
   color: black;
   box-shadow: 0 0 40px 40px transparent inset, 0 0 0 0 transparent;
   -webkit-transition: all 150ms ease-in-out;
   transition: all 150ms ease-in-out;
   padding: 15px;
   width: 100%;
   border-radius: 15px;
   border: 2px solid lightgreen;
}

.primeiroBotao{
   display: flex;
   justify-content: center;
}

.botaoEnviar:hover{
   box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}

.rodape{
   margin-top: 10%;
}

.Informacao{
   background-color: darkgray;
   height: 35em;
}

.titulo3{
   padding: 4%;
   position: absolute;
   font-size: 35px;
   font-family: 'Courier New', Courier, monospace;
   color: white;
}

.endereco{
   padding: 7% 0% 2% 4%;
   position: absolute;
   font-size: 25px;
   font-family: 'Courier New', Courier, monospace;
   color: white;
}

.Logo2{
   font-size: 8em;
   font-family: 'Pacifico', cursive;
   float: right;
   color: lightgreen;
   padding: 5%;
}

.notificacao{
   display: block;
   margin-top: -5%;
}

@media screen and (max-width: 430px) {
   .corpo{
      width: 100%;
   }
   .Mapa{
      width: -webkit-fill-available;
      height: auto;
   }
   .mapaEFormulario{
      display: inline;
      margin: 3%;
   }
   .tituloEMapa{
      width: 94%;
      margin: 15% 3%;
   }
   .formulario{
      width: 90%;
   }
   .endereco{
      padding: 20% 0% 2% 4%;
   }
}

@media screen and (max-width: 1030px) {
   .Logo2{
      font-size: 3em;
      width: auto;
   }
   .Mapa{
      width: -webkit-fill-available;
      height: 25em;
   }
   .tituloEMapa{
      padding: 3% 3% 3% 3%;
   }
}
