*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.secao1{
    background-color: darkgray;
    height: 200em;
}

.carrinhoEFormulario{
    display: flex;
}

.tituloCarrinho{
    margin: 17% 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.limparCarrinho{
    font-size: 25px;
    background-color: lightgreen;
    border: none;
    padding: 1%;
    border-radius: 15px;
    display: flex;
    float: right;
    margin: 6% 5%;
}

.semProdutos{
    margin: 5% 6%;
    font-size: 25px;
    color: white;
}

.linha{
    color: black;
    width: 35%;
}

.Total{
    font-size: 30px;
    color: white;
    font-family: cursive;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.confirmarPedido{
    background-color: lightgreen;
    color: black;
    border: none;
    padding: 2%;
    border-radius: 15px;
    width: max-content;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    font-size: 22px;
}

.botaoAdicionar,
.botaoRemover{
    background-color: transparent;
    border: none;
}

.containers2{
    display: inline-grid;
    height: 70%;
    width: 20.3%;
    background-color: white;
    border: 5px solid lightgreen;
    justify-content: center;
    align-items: center;
    margin: 0% 6% 5% 7%;
    border-radius: 15px;
}

.botaoApagar{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-end;
    margin: 3% 5%;
}

.formCarrinhoPrincipal{
    margin: -20% 6% 5% 5%;
    border: 5px solid lightgreen;
    border-radius: 15px;
    width: 35%;
    padding: 5% 2% 0%;
    float: right;
    width: 40%;
    position: static;
}

.tituloFormCarrinho,
.descricaoFormCarrinho,
.tituloFormPagamento,
.descricaoFormPagamento{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.formCarrinho{
    display: flex;
    flex-direction: column;
    margin: 4%;
    width: 90%;
}

.botaoPesquisa{
    background-color: transparent;
    color: white;
    border: none;
}

.numeroEComplemento,
.bairroCidadeEEstado{
    display: flex;
    flex-direction: row;
}

.complemento{
    width: 56em;
}

.formCarrinho input {
    margin-bottom: 8%;
    border: 2px solid lightgreen;
    border-radius: 15px;
    padding: 2%;
    margin-right: 2%;
}

.CEP,
.numero,
.bairro,
.cidade{
    width: 57%;
}

.formPagamento{
    margin: 0% 6% 5% 5%;
    border: 5px solid lightgreen;
    border-radius: 15px;
    padding: 5% 2% 0%;
    float: right;
    width: 40%;
    position: static;
}

.metodoPagamento{
    margin: 0% 6% 5% 5%;
    border: 5px solid lightgreen;
    border-radius: 15px;
    padding: 1% 2% 0%;
    float: right;
    width: 40%;
    position: static;
}

.atalho{
    color: black;
    text-decoration: none;
}

.rua,
.bairro,
.cidade,
.estado{
    margin-bottom: 8%;
    border: 2px solid lightgreen;
    border-radius: 15px;
    padding: 2%;
    margin-right: 2%;
    background-color: white;
}

.formPagamento button{
    margin: 4% 4% 8%;
    margin-right: 2%;
}

.botaoOpcao{
    font-size: 20px;
    background-color: lightgreen;
    color: black;
    padding: 3%;
    border-radius: 15px;
    border: none;
}

@media screen and (max-width: 430px) {
    .limparCarrinho{
        font-size: 20px;
        margin-top: 3em;
    }
    .tituloCarrinho{
        margin-top: 5%;
        margin-top: 6em;
    }
    .formCarrinhoPrincipal{
        position: absolute;
        width: 92%;
        margin-top: 10em;
    }
    .formPagamento{
        position: absolute;
        width: 92%;
        margin-top: 42em;
    }
    .Total{
        width: 88%;
        font-size: 20px;
    }
    .confirmarPedido{
        font-size: 20px;
    }
    .complemento{
        width: 60%;
    }
    .containers2{
        width: auto;
    }
    .linha{
        width: 55%;
    }
}